:root {
    font-size: 62.5%;
}
main {
    background-image: linear-gradient(62deg, rgb(233, 231, 194) 0%, #dcd3d3 50%, #d6c2e8 100%);
}
.contact_cont {
    display: grid;
    grid-template-rows: auto auto;
    row-gap: 1.5rem;
    background-color: #cddfc5;
}
.connect {
    display: grid;
    grid-template-columns: 50vw 50vw;
}
.connect_part, .contact_part {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.connect_part form {
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
    padding: 2rem 4.5rem;
    border-radius: 0.5rem;
    font-size: 1.6rem;
    border: 1px solid #b2a0a0;
}
.connect_part h2 {
    font-size: 5rem;
    font-weight: 500;
    font-family:  cursive;
}
form label {
    padding-right: 2rem;
}

/* --aside part-- */

.aside_pic {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 15vh;
    margin-bottom: 10vh;
}
.header-chat {
    width: 35rem;
    height: 40rem;
    border-radius: 1.5rem;
    position: relative; 
    border: 0.2rem solid #b2a0a0;
    
}
.profile {
    width: 100%;
    height: 4rem;
    display: flex;
    gap: 1rem;
    border: none;
    align-items: center;
    background-color: rgba(183, 174, 183, 0.564);
    font-size: 1.4rem;
    padding: 1rem;
    border-top-left-radius: 1.5rem;
    border-top-right-radius: 1.5rem;
}
.profile img, .image img {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
}
.symbol {
    position: absolute;
    display: flex;
    gap: 2rem;
    font-size: 1.6rem;
    right: 2%;
    top: 2%;
    font-weight: lighter;
}

.chat {
    position: absolute;
    top: 15%;
    display: flex;
    gap: 1rem;
    padding: 1rem;
}
.chat .message, .chat2 .message {
    width: 60%;
    
    text-align: justify;
}
.mes {
    border: none;
    border-top-left-radius: 1.2rem;
    border-top-right-radius: 1.2rem;
    border-bottom-right-radius: 1.2rem;
    padding: 0.5rem;
    background-color: #9658cf;
    font-size: 1.2rem;
    color: #ffffff;
    font-family: 'Times New Roman', Times, serif;
}
.message .time {
    color: #ffffff;
}
.image {
    align-self: flex-end;
}
.chat2 {
    position: absolute;
    top: 35%;
    display: flex;
    gap: 1rem;
    padding: 1rem;
}

#reply1 {
    width: 100%;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 4rem;
    border-radius: 1.5rem;
    border: 0.2rem solid #b2a0a0;
    border-bottom: none;
    background-color: transparent;
    border-left: none;
    border-right: none;
}
.reply i{
    position: absolute;
    bottom: 3%;
    right: 5%;
    z-index: 1;
    cursor: pointer;
    color:#99bcae;
    font-size: 2rem;
}

/* Css contact me part */
.contact_m {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-bottom: 1rem;
    column-gap: 0.5vh;
}

.map_google iframe{
    width: 100%;
    border-radius: 2rem;
    opacity: 0.7;
    margin: 2rem;
}

.map_google iframe:hover {
    opacity: 1;
}
/* ---Responsive--- */
@media screen and (max-width: 767px) {
    .connect {
        display: flex;
        flex-direction: column;
    }
    .contact_m {
        display: none;
    }
}