:root {
    font-size: 62.5%;
}
main {
    background: url(../pic/joanna-kosinska.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    color: #E6E6FA;
}
section h2 {
    text-align: center;
    padding: 3%;
    font-size: 8rem;
    font-family: 'Dancing Script', cursive;
}
ol {
    display: grid;
    grid-template-rows: auto auto;
}
.vn_uni, .bu {
    display: grid;
    grid-template-columns: 40vw 60vw;
    align-items: center;
}
.vn_uni figure  img{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 90%;
    border-radius: 1.5rem;
}
figure {
    padding: 1rem 1rem 0 1.5rem;
}
figure figcaption, .note{
    font-style: italic;
    font-size: 1.4rem;
}
.aside_note {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
}
.describe, .courses {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    text-align: justify;
    padding: 0 15%;
    font-size: 1.4rem;
}
.uni_name, .boston {
    font-size: 4rem;
    font-weight: 500;
    padding-bottom: 1rem;
    text-align: center;
}
.video_intro iframe {
    height: 50vh;
    width: 40vw;
}
.video_intro {
    padding-bottom: 1.5rem;
}
.video_intro a {
    color: #fff;
    font-style: italic;
}

/* ---Responsive--- */
@media screen and (max-width: 767px) {
    .vn_uni, .bu {
        display: flex;
        flex-direction: column;
        gap: 10vw;
    }
    .vn_uni {
        margin-bottom: 10vw;
    }
    .video_intro {
        padding: 5vw;
    }
    .video_intro iframe{
        width: 90%;
    }
}