@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Lobster&family=Poppins&family=Ubuntu&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
.active {
    padding: 1rem;
    opacity: 0.9;
    background-color: #85FFBD;
    background-image: linear-gradient(45deg, #85FFBD 0%, #FFFB7D 69%, #ffffff 100%);

  }

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 1rem 10%;
    background-color: rgb(23, 174, 159,0.5);
    background-image: linear-gradient(90deg, #0ea5ea, #0bd1d1 51%);
    border-radius: .5rem;
}

.logo {
    color: white;
    font-size: 3.5rem;
    letter-spacing: .1rem;
    cursor: pointer;
    text-decoration: none;
    align-self: start;
    font-weight: 600;
    font-family: cursive;
    
}

.navigation {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    flex-wrap: wrap;
} 
.navigation a{
    color: rgb(23, 20, 176);
    font-size: 1.8rem;
    text-decoration: none;
    font-weight: bolder;
    transition: .5s;
    border-radius: 1rem;
    padding: 0 .5rem;
    font-family: 'Poppins', sans-serif;
}
.navigation a:hover {
    color: black; 
    transform: scale(1.1);
}

/* Css Button */
.button-b a, .bttn button {
    border-radius: 1rem;
    margin-left: 5rem;
    background-color: transparent;
    text-decoration: none;
    font-size: 1.8rem;
    font-weight: 500;
    letter-spacing: 0.1rem;
    color: #F5F5DC;
    padding: 0.4rem;
    position: relative;
    border: 0.2rem solid #00BFFF;
    overflow: hidden;
    z-index: 1;
}
.button-b a::before, .bttn button::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: #F5DEB3;
    border-radius: 0.8rem;
    z-index: -1;
    transition: 0.5s;
}
.button-b a:hover::before, .bttn button:hover::before {
    width: 100%;  
}

.button-b a:hover, .bttn button:hover  {
    color: black;
}
/* ---footer---- */
footer {
    background-color: rgb(19, 27, 48);
    color: hsla(217, 24%, 59%, 1);
}
.top-footer {
    display: flex;
    justify-content: space-around;
    padding-bottom: 2rem;
}
.footer-col1 ul{
    list-style: none;
}
.footer-col1 h4 {
    margin: 2.5rem 0;
    font-size: 1.8rem;
    position: relative;
    font-family: 'Ubuntu', sans-serif;
    text-align: center;

}

.footer-col1 h4::before {
    content: '';
    width: 6rem;
    height: 0.2rem;
    background: linear-gradient(to right, #0ea5ea,#adb219, #a61fab);
    position: absolute;
    bottom: -25%;
    left: 50%;
    transform: translateX(-50%);
    transition: 0.4s;
}
.footer-col1 h4:hover::before {
    transform: translate(-50%,0.5rem);
}
.footer-col1 ul li {
    padding: 0.5rem 0;
    font-size: 1.4rem;
    color: hsla(217, 24%, 59%, 1);
    font-family: 'Ubuntu', sans-serif;
    text-align: center;
}
.footer-col1 ul li:hover{
    color: #fff;
    transition: 0.6s;
}
.copy-right summary {
    font-size: 1.4rem;
    color: hsla(217, 24%, 59%, 1);
    font-family: 'Ubuntu', sans-serif;
    padding: 1rem;
}
.bottom {
    display: flex;
    justify-content: space-between;
}
.social {
    padding-right: 10rem;
    font-size: 2rem;
}
.social a {
    margin: 10px;
    text-decoration: none;
    transition: 0.5s;
    color: #fff;
}
.social a:hover {
    transform: scale(1.5);

}
footer hr{
    opacity: 0.6;
    color: hsla(217, 24%, 59%, 1)
}

/* Responsive with media query. The navigation bar will switch to vertical
using flex, for nav and footer */
@media (max-width: 767px) {
    .navigation {
        flex-flow: column wrap;
        display: flex;
    }
    .social{
        padding: 0;
        font-size: 1.5rem;
    }
    .logo {
        align-self: center;
        font-size: 5rem;
    }
}
@media screen and (min-width:768px) and (max-width:1023px) {
    .navigation a {
        font-size: 1.5rem;
        padding: 0;
    }

}
   
