:root {
    font-size: 62.5%;
}
 .main_con {
     display: flex;
     flex-direction: column;
     background-image: linear-gradient(205deg, #b0e2c8 21%, rgb(226, 225, 176) 52%, #c8ebe9 76%);  
 }

 .intro img,
 p {
     display: block;
 }

 .intro {
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
 }

 .bird {
     align-self: flex-end;
     margin: 5vh 20vh 0 0;
     width: 5vw;
     height: auto;

 }

 @keyframes moving {
     0% {
         transform: translateX(0);
     }

     25% {
         transform: translateX(20vw);
         ;
     }

     50% {
         transform: translateY(20vh);
     }

     75% {
         transform: translateX(50vw);
     }

     90% {
         transform: translateY(-10vh);
     }

     100% {
         transform: translateY(0);
     }
 }

 .bottom-cloud {
     align-self: flex-start;
     margin: 3vh 0 0 25vh;
     width: 8vw;
     height: auto;
     font-family: 'Sacramento', cursive;
     animation: moving 50s ease-in-out infinite;
 }

 .main_con .name {
     font-family: 'Sacramento', cursive;
     font-size: 10rem;
     color: rgb(25, 159, 166);
 }

 .intro .job-title {
     color: rgb(25, 159, 166);
     font-size: 2.5rem;
     font-family: 'Poppins', sans-serif;
     font-weight: 800;
 }

 .intro .mountain {
     width: 40vw;
 }

 .intro hr {
     color: rgb(75, 175, 175);
     width: 100vw;
 }

 .profile {
     height: 20vw;
     width: 20vw;
     border-radius: 50%;
     overflow: hidden;
     filter: opacity(80%);
 }

 .summary {
     display: flex;
     width: 100vw;
     height: auto;
     justify-content: center;
     flex-direction: column;
     padding: 5vh 0;
     text-align: center;
 }

 .experience {
     display: flex;
     justify-content: center;
     flex-wrap: wrap;
     width: 100vw;
 }

 .experience ol {
     list-style: none;
 }

 .summary h2,
 .skill h2 {
     color: rgb(25, 159, 166);
     font-size: 3rem;
     font-family: 'Poppins', sans-serif;
     margin-bottom: 1.5rem;
 }

 .summary p,
 .experience {
     font-size: 1.6rem;
     font-family: 'Poppins', sans-serif;
     padding: 0 20vw;
     text-align: justify;
     line-height: 2;
 }

 .skill {
     display: flex;
     flex-direction: column;
     align-items: center;
     padding-top: 10vh;
     gap: 5vw;
 }

 .skill-content {
     display: flex;
     justify-content: center;
     align-items: center;
     gap: 2vw;
     width: 60vw;
 }

 .skill-pic,
 .busi-pic {
     float: left;
     width: 20vw;
 }

 .skill-content h3,
 .contact-me h3 {
     color: rgb(25, 159, 166);
     font-size: 2rem;
     font-family: 'Poppins', sans-serif;
     margin-bottom: 1.5rem;
 }

 .skill-content p,
 .contact-me p {
     font-size: 1.6rem;
     font-family: 'Poppins', sans-serif;
     text-align: justify;
 }

 .skill:nth-child(2) {
     margin-bottom: 2vh;
 }

 .text {
     text-align: center;
 }

 .contact-me {
    text-align: center;
    margin-bottom: 5vh;
 }
 .mes{
    margin-bottom: 5vh;
 }
 .btn {
    background-image: linear-gradient(90deg, #0ea5ea, #0bd1d1 51%, #0ea5ea);
    cursor: pointer; 
    font-size: 1.6rem;
    padding: 1rem;
    text-decoration: none;
    border-radius: 0.8rem;
    border: none;
 }
.contact-me a:hover {
    background-image: linear-gradient(90deg, #24b927, hwb(295 13% 33%) 51%, #8d0c15);
    background-color: black;
    color: white;
}
 

/* ---Resoponsive--- */

@media screen and (max-width: 480px) {
    /* :root{
        font-size: 50%;
    } */
    .main_con .name {
        font-size: 7rem;
    }
    .intro .mountain {
        width: 60vw;
    }
    .bird {
        margin: 5vh 10vw 0 0;
        width: 10vw;
    }
    .main_con .job-title {
        font-size: 2rem;
    }
    .bottom-cloud{
        width: 15vw;
    }
    .skill {
        gap: 10vw;
    }
    .contact-me {
        padding: 0 5vw;
    }
}
@media screen and (min-width:481px) and (max-width: 590px) {
    .main_con .name {
        font-size: 7rem;
    }
    .intro .mountain {
        width: 60vw;
    }
    .bird {
        margin: 5vh 10vw 0 0;
        width: 10vw;
        height: auto;
    }
    .main_con .job-title {
        font-size: 2rem;
    }
    .bottom-cloud{
        width: 15vw;
    }
    .contact-me {
        padding: 0 5vw;
    }
}

@media screen and (min-width:591px) and (max-width:767px) {
    .main_con .name {
        font-size: 7rem;
    }
    .intro .mountain {
        width: 60vw;
    }
    .bird {
        margin: 5vh 10vw 0 0;
        width: 10vw;
        height: auto;
    }
    .bottom-cloud{
        width: 15vw;
    }
}
@media screen and (min-width:768px) and (max-width:1023px){
    .intro .mountain {
        width: 60vw;
    }
    .bird {
        margin: 5vh 10vw 0 0;
        width: 10vw;
        height: auto;
    }
    .bottom-cloud{
        width: 15vw;
    }
}