:root {
    font-size: 62.5%;
}

.main_fa {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto;
    font-size: 1.6rem;
    font-family: 'Poppins', sans-serif; 
    background-color: #bdbfd0;
    background-image: linear-gradient(65deg, #80ac9f 10%, #b1cddf 38%, #acaed6 69%, #c4deb7 86%);

    
}
/*CSS for family section */
.family_v {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 32rem auto;
    row-gap: 1vh;
    column-gap: 1vw;
    /* width: 100vw;   */
}
.title {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url(../pic/anders-jilden.jpg);
    background-size:cover;
    background-position: center;
    filter: sepia(0.4);
    color: #ffffff;
    flex-wrap: wrap;
    /* width: 100vw; */
}   
.title span {
    font-size: 6.5rem;
    padding-left: 5rem;
    font-family: 'Dancing Script', sans-serif, cursive; 
}
.title span:first-child {
    font-size: 2.5rem;
    font-weight: 300;
}
/* ---Abum-- */
.abum {
    width: 100vw;
}
.ptext {
    margin: 5rem 30rem;
    text-align: justify;
}
.gallery{
    max-width: 80rem;
    height: 70rem;
    margin: auto;
    position: relative;
    overflow: hidden;
}
 .gallery .images{
    position: absolute;
    width: max-content;
    height: 100%;
    left: 0;
    top: 0;
    display: flex;
    transition: 1.5s; 
    filter: sepia(0.3);
}
.item {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 2rem;
}
.item .kid {
    width: 80rem;
    max-width: 80rem;
    height: 94%;
    object-fit: contain;
}

.gallery .buttons{
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 50%;
    left: 10%;
    width: 90%;
    transform: translate(-5%,-50%);
    
}
.buttons button{
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    background-color: rgba(89, 168, 153, 0.333);
    color: #6f819f;
    border: none;
    cursor: pointer;
}
.dot-bar{
    position: absolute;
    bottom: 7rem;
    left: 0;
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}
.dot-bar li{
    height: 1rem;
    background-color: rgb(108, 154, 178);
    margin: 1rem;
    border-radius: 2rem;
    transition: 0.2s;
    width: 1rem;
    list-style: none;
    cursor: pointer;

}
.gallery .act{
    width: 3rem;
    background-color: rgb(52, 8, 156);
}

 /*Css for Interest section */
.interest span{
    font-size: 6rem;
    font-weight: 800;
    font-family: 'Dancing Script', sans-serif, cursive; 
}


 
 .interest {
    padding: 15rem 0 0;
    display: grid;
    grid-template-rows: auto auto auto;
    text-align: center;
    row-gap: 5rem;
 }
 .interest span {
    font-size: 6rem;
    font-weight: 400;
 }
 .interest p {
    padding: 1% 10% 2% 5%;
    font-weight: 200;
 }
 .interest_pic img {
    width: 30%;
    height: 100%;
    border-radius: 1rem;
    margin: 1rem;
 }
.travel {
    display: grid;
    grid-template-columns:1.5fr 1fr;
    grid-template-rows: 70rem;
 }
 .travel article {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: justify;
    font-style: italic;
    padding: 0% 10%;
    font-size: 1.4rem;
 }
 
 .travel table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    width: 50%;
    font-weight: 200;
 }
 .travel th {
    font-weight: 500;
 }
 .filming {
    width: 70%;
    
 }
 .filming video{
    width: 100%;
    height: 65%;
    margin-top: 20%;
 }
 .travel button {
    background-image: linear-gradient(90deg, #0ea5ea, #0bd1d1 51%, #0ea5ea);
    cursor: pointer; 
    font-size: 1.6rem;
    padding: 1rem;
    text-decoration: none;
    border-radius: 0.8rem;
    border: none;            
 }
 
/* ---Responsive--- */
@media screen and (max-width: 576px) {
    :root {
        font-size: 30%;
    }
    .main_fa {
        font-size: 2.5rem;
    }
    article p{
        font-size: 2.5rem;
    }
    article table{
        font-size: 2rem;
    }
    .ptext {
        margin: 5rem 20rem;
        text-align: justify;
    }
}
@media screen and (min-width:577px) and (max-width:767px) {
    :root {
        font-size: 40%;
    }
    .main_fa {
        font-size: 2.5rem;
    }
    .ptext {
        margin: 5rem 20rem;
        text-align: justify;
    }
    article p{
        font-size: 2.5rem;
    }
    article table{
        font-size: 2rem;
    }
    .travel{
        margin: 10% 0;
    }
}


@media screen and (min-width:768px) and (max-width:1023px) {
    :root {
        font-size: 45%;
    }
    .main_fa {
        font-size: 2rem;
    }
    .ptext {
        margin: 5rem 20rem;
        text-align: justify;
    }
    article p, article table{
        font-size: 2rem;
    }
}

@media screen and (in-width: 1024px){
    :root {
        font-size: 62.5%;
    }
}
/* @media (max-width: 576px) {
    :root {
        font-size: 30%;
    }
} */

/* @media (max-width: 640px) {
    .navigation {
        flex-flow: column wrap;
        display: flex;
    }
    .logo {
        font-style: italic;
        color: #fd5949;
        margin-top: auto;
        margin-bottom: auto;
    }
    header {
        background-color: #B7C4CF;
    }
    .footer-c, .social{
        display: none;
    }
    footer {
        height: 8vh;
        background-color: #d6249f;
    }
} */