
.main_fa {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
    font-size: 1.6rem;
    font-family: 'Poppins', sans-serif;
    background-color: #bdbfd0;
    background-image: linear-gradient(65deg, #80ac9f 10%, #b1cddf 38%, #acaed6 69%, #c4deb7 86%);
    ;
}
/*CSS for family section */
.family_v {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: 40vh auto;
    row-gap: 1vh;
    column-gap: 1vw;
}
.title {
    display: flex;
    flex-direction: column;
    grid-column: 1/4;
    grid-row: 1/2;
    align-items: center;
    justify-content: center;
    background-image: url(../pic/anders-jilden.jpg);
    background-size:cover;
    background-position: center;
    filter: sepia(0.4);
    color: #ffffff;
}   
.title span {
    font-size: 6.5rem;
    padding-left: 5rem;
    font-family: 'Dancing Script', sans-serif, cursive; 
}
.title span:first-child {
    font-size: 2.5rem;
    font-weight: 300;
}
/* ---Abum-- */

.ptext {
    margin: 5rem 40rem;
    text-align: justify;
}
.gallery{
    width: 80rem;
    max-width: 80rem;
    height: 70rem;
    margin: auto;
    position: relative;
    overflow: hidden;
}
 .gallery .images{
    position: absolute;
    width: max-content;
    height: 100%;
    left: 0;
    top: 0;
    display: flex;
    transition: 1s; 
    filter: sepia(0.3);
}
.item {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 2rem;
}
.item .kid {
    width: 80rem;
    max-width: 80rem;
    height: 94%;
    object-fit: contain;
}

.gallery .buttons{
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 50%;
    left: 10%;
    width: 90%;
    transform: translate(-5%,-50%);
    
}
.buttons button{
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    background-color: rgba(89, 168, 153, 0.333);
    color: #6f819f;
    border: none;
    cursor: pointer;
}
.dot-bar{
    position: absolute;
    bottom: 7rem;
    left: 0;
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}
.dot-bar li{
    height: 1rem;
    background-color: rgb(108, 154, 178);
    margin: 1rem;
    border-radius: 20px;
    transition: 0.2s;
    width: 1rem;
    list-style: none;

}
.gallery .act{
    width: 30px;
    background-color: rgb(52, 8, 156);
}

 /*Css for Interest section */
.interest span{
    font-size: 60px;
    font-weight: 800;
    font-family: 'Dancing Script', sans-serif, cursive; 
}


 
 .interest {
    padding: 15rem 0 0;
    display: grid;
    grid-template-rows: auto auto auto;
    text-align: center;
    row-gap: 5rem;
 }
 .interest span {
    font-size: 6rem;
    font-weight: 400;
 }
 .interest p {
    padding: 1% 10% 2% 5%;
    font-weight: 200;
 }
 .interest_pic img {
    width: 30%;
    height: 100%;
    border-radius: 10px;
    margin: 10px;
 }
.travel {
    display: grid;
    grid-template-columns:1.5fr 1fr;
    grid-template-rows: 85vh;
 }
 .travel article {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: justify;
    font-style: italic;
    padding: 0% 10%;
 }
 .travel p{
    font-size: 14px;
 }
 .travel table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    width: 50%;
    font-weight: 200;
    font-size: 1rem;
 }
 .travel th {
    font-weight: 500;
 }
 .filming {
    width: 70%;
    
 }
 .filming video{
    width: 100%;
    height: 65%;
    margin-top: 20%;
 }
 .travel button {
    background-image: linear-gradient(90deg, #0ea5ea, #0bd1d1 51%, #0ea5ea);
    cursor: pointer; 
    font-size: 16px;
    padding: 10px;
    text-decoration: none;
    border-radius: 8px;
    border: none;            
 }
 
